/* ---------------------------------------- */
/* PAGE PRODUITS */
/* ---------------------------------------- */

body {
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Titre */
.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    color: #222;
}

/* Conteneur global */
.produits-section {
    flex: 1;
    padding: 30px 20px;
}

/* Grille des produits */
.produits-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* Carte produit */
.produit-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: 0.3s;
    text-align: center;
}

.produit-card:hover {
    transform: translateY(-5px);
}

.produit-card img {
    width: 100%;
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
}

.produit-card h3 {
    margin: 12px 0;
    font-size: 1.15rem;
}

.produit-card .prix {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff7700;
}

/* Bouton */
.produit-card button {
    margin-top: 12px;
    background: #ff7700;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.produit-card button:hover {
    background: #e06600;
}

/* Footer toujours en bas */
footer {
    margin-top: auto;
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* BARRE DE RECHERCHE */
.recherche-bar {
    margin: 20px auto;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.recherche-bar input {
    padding: 10px 15px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.recherche-bar select {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.recherche-bar button {
    padding: 10px 18px;
    background: #ff7700;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.recherche-bar button:hover {
    background: #e06600;
}
.admin-login {
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    margin-right: 12px;
    opacity: 0.8;
    transition: 0.3s;
}

.admin-login:hover {
    opacity: 1;
}


/* Mobile */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #ff7700;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        z-index: 999;
    }

    .nav-links a {
        color: white;
    }

    .nav-links.show {
        display: flex;
    }
}
