/* ---------------------------------------------------- */
/* PAGE DETAILS DU PRODUIT */
/* ---------------------------------------------------- */

body {
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.product-container {
    flex: 1;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.product-left img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

/* Infos */
.product-right h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.product-right p {
    margin: 10px 0 20px;
    line-height: 1.6;
    font-size: 1.1rem;
}

.product-right h2 {
    color: #ff7700;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Bouton */
.btn-add {
    padding: 12px 25px;
    background: #ff7700;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add:hover {
    background: #e06600;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .product-left img {
        width: 90%;
        margin: auto;
    }
}

footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}


/* Mobile */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #ff7700;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        z-index: 999;
    }

    .nav-links a {
        color: white;
    }

    .nav-links.show {
        display: flex;
    }
}
